---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cheyla Alencar - Fonoaudióloga" description="Em breve novidades.">
	<main class="min-h-screen bg-premium-background flex items-center justify-center">
		<!-- Página em branco por enquanto -->
	</main>
</Layout>
